:root {
  --primary-color: #1b4965;
  --secondary-color: #62b6cb;
  --accent1-color: #333;
  --accent2-color: #bee9e8;

  --heading-font: Arial, Helvetica, sans-serif;
  --body-font: Verdana, Geneva, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: white;
}

header {
  width: 840px;
  margin: 0 auto;
}

main {
  width: 840px;
  margin: 0 auto;
}

footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.hero {
  position: relative;
}

.hero > img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  color: white;
  background-color: var(--accent1-color);
  opacity: 0.85;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: var(--accent2-color);
  padding: 16px;
}

.hero article img {
  float: right;
  width: 125px;
  height: auto;
}


.socialmedia a {
  text-decoration: none;
}

