main {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: lightblue;
  padding: 10px;
}

nav a {
  color: #000;
  padding: 10px;
  display: block;
  text-decoration: none;
}

h1 {
  color: navy;
}

p {
  padding: 0;
}

main img {
  width: 200px;
  height: auto;
  border: 2px solid #333;
  padding: 5px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

aside {
  width: 300px;
  margin: 20px;
  border: 2px solid #333;
  padding: 10px;
  background-color: #eee;
  color: #000;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 20px;
  border-top: 2px solid #333;
  text-align: center;
}
