main {
  max-width: 800px;
  margin: 0 auto;
}

aside {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f0f8ff;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 2px solid #999;
  text-align: center;
  padding-top: 10px;
}
